.shop-container{
   display: grid;
   grid-template-columns: 4fr 1fr;

}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    padding-top: 50px;
    /* display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 5px; */
}
.order-summry{
    background-color: rgba(255, 153, 0, 0.3);
    

}