.header{
    background-color:  #1C2B35;
    color: white;
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    
}
.header a{
    text-decoration: none;
    margin: 10px;
    color: white;
}
.header a:hover{
color: orange;
}